# Ignore virtual environment
djangoenv/
wsproject/
# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore settings files with sensitive information
*.env

# Ignore database files (SQLite, PostgreSQL, etc.)
*.sqlite3
*.db

# Ignore media files (uploaded user content)
media/

# Ignore static files (collected static files in production)
staticfiles/

# Ignore secret key file (if generated separately)
*.key

# Ignore logs
*.log

# Ignore local configuration files (if you have any)
local_settings.py

# Ignore temporary files and directories
*.swp
.DS_Store
.env.local

# Ignore IDE-specific files and directories
.idea/
.vscode/
soap-api/soapenv/Scripts/activate
soap-api/soapenv/Scripts/activate.bat
soap-api/soapenv/Scripts/Activate.ps1
soap-api/soapenv/Scripts/deactivate.bat
soap-api/soapenv/Scripts/f2py.exe
soap-api/soapenv/Scripts/flask.exe
soap-api/soapenv/Scripts/normalizer.exe
soap-api/soapenv/Scripts/pip.exe
soap-api/soapenv/Scripts/pip3.11.exe
soap-api/soapenv/Scripts/pip3.exe
soap-api/soapenv/Scripts/python.exe
soap-api/soapenv/Scripts/pythonw.exe
soap-api/soapenv/Scripts/sort_wsdl.exe
sandbox/
